name: run-tests

on:
  push:
    paths:
      - '**.php'
      - '.github/workflows/run-tests.yml'
      - 'phpunit.xml.dist'
      - 'composer.json'
      - 'composer.lock'

jobs:
  test:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 5
    strategy:
      fail-fast: true
      matrix:
        os: [ubuntu-latest]
        laravel: [
          # laravel 10
          {laravel: 10.*, php: 8.2, testbench: ^8.22.0, pest: 2.*, pest-plugin-arch: ^2.7.0, carbon: ^2.63},
          {laravel: 10.*, php: 8.3, testbench: ^8.22.0, pest: 2.*, pest-plugin-arch: ^2.7.0, carbon: ^2.63},
          # laravel 11
          {laravel: 11.*, php: 8.2, testbench: 9.*, pest: 3.*, pest-plugin-arch: 3.*, carbon: ^2.63},
          {laravel: 11.*, php: 8.3, testbench: 9.*, pest: 3.*, pest-plugin-arch: 3.*, carbon: ^2.63},
          {laravel: 11.*, php: 8.4, testbench: 9.*, pest: 3.*, pest-plugin-arch: 3.*, carbon: ^2.63},
          # laravel 12
          {laravel: 12.*, php: 8.2, testbench: 10.*, pest: 3.*, pest-plugin-arch: 3.*, carbon: ^3.00}
          {laravel: 12.*, php: 8.3, testbench: 10.*, pest: 4.*, pest-plugin-arch: 4.*, carbon: ^3.00}
          {laravel: 12.*, php: 8.4, testbench: 10.*, pest: 4.*, pest-plugin-arch: 4.*, carbon: ^3.00}
          {laravel: 12.*, php: 8.5, testbench: 10.*, pest: 4.*, pest-plugin-arch: 4.*, carbon: ^3.00}
        ]
        stability: [prefer-lowest, prefer-stable]

    name: P${{ matrix.laravel.php }} - L${{ matrix.laravel.laravel }} - ${{ matrix.stability }} - ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.laravel.php }}
          extensions: dom, curl, libxml, mbstring, zip, pcntl, pdo, sqlite, pdo_sqlite, bcmath, soap, intl, gd, exif, iconv, imagick, fileinfo
          coverage: pcov

      - name: Setup problem matchers
        run: |
          echo "::add-matcher::${{ runner.tool_cache }}/php.json"
          echo "::add-matcher::${{ runner.tool_cache }}/phpunit.json"

      - name: Install dependencies
        run: |
          composer require "laravel/framework:${{ matrix.laravel.laravel }}" "orchestra/testbench:${{ matrix.laravel.testbench }}" "nesbot/carbon:${{ matrix.laravel.carbon }}" "pestphp/pest:${{ matrix.laravel.pest }}" "pestphp/pest-plugin-arch:${{ matrix.laravel.pest-plugin-arch }}" "pestphp/pest-plugin-laravel:${{ matrix.laravel.pest }}" --no-interaction --no-update
          composer update --${{ matrix.stability }} --prefer-dist --no-interaction

      - name: List Installed Dependencies
        run: composer show -D

      - name: Execute tests
        run: vendor/bin/pest --ci

      - name: Code Coverage Upload
        uses: codecov/codecov-action@v5.5.2
        if: matrix.laravel.php == '8.2' && matrix.laravel.laravel == '10.*' && matrix.stability == 'prefer-lowest'
        with:
          token: ${{ secrets.CODECOV_TOKEN }} # not required for public repos
          slug: IndexZer0/eloquent-filtering
          files: ./build/logs/clover.xml # optional
          name: codecov-umbrella # optional
          fail_ci_if_error: true # optional (default = false)
          verbose: true # optional (default = false)
